*.log
node_modules
yarn.lock
workbench
build/assets
build/kirby
build/panel
build/site/snippets/piwik.php
build/site/config/config.kanzlei-seiring.de.php


# System files
# ------------

Icon
.DS_Store


# Temporary files
# ---------------

build/thumbs/*
!build/thumbs/index.html

build/site/cache/*
!build/site/cache/index.html


# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

build/site/accounts/*
!build/site/accounts/index.html
