$heading-margin-bottom: 1em;
$lead-margin-bottom: 1em;
$lead-font-size: 140%;

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: 0 0 $heading-margin-bottom;
  transition: color $base-duration $base-timing;
}

h1 {
  font-size: 42px;
}

p {
  font-size: $paragraph-font-size;
  margin: 0 0 $small-spacing;

  &.lead {
    font-size: $lead-font-size;
    margin-bottom: $lead-margin-bottom;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;
  outline: 0;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

address {
  font-style: normal;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
}

.center {
  text-align: center;
}

.thick {
  font-weight: 700;
}
