.grid-container {
  @include grid-container;
  margin: 0 auto;
  max-width: $grid-width;
}

// .one-half {
//   padding: 2em $base-spacing;
//
//   @include grid-media($large) {
//     @include grid-column(6);
//   }
// }

.one-third {
  @include grid-media($large) {
    @include grid-column(4);
  }
}

.two-thirds {
  @include grid-media($large) {
    @include grid-column(7);
    @include grid-push(1);
  }
}

.one-fourth {
  @include grid-media($large) {
    @include grid-column(6);
  }

  @include grid-media($neat-grid) {
    @include grid-column(3);
  }
}

main {
  background: $light-gray;
}

.page-title {
  background: $medium-gray;
  padding: 1.5 * $base-spacing 0;

  h1 {
    color: $white;
    margin: 0;
    text-transform: uppercase;
  }
}

.page-content {
  padding: 2 * $base-spacing 0;
}

.section {
  @include grid-container;
  clear: both;
}
