$section-padding: 6 * $base-spacing 0;
$page-padding: 3 * $base-spacing 0 4 * $base-spacing;
$page-title-background: $medium-gray;

.section {
  padding: $section-padding;
}

.section-header {
  @include grid-container;
  text-align: center;
  text-transform: uppercase;

  h4 {
    color: $medium-gray;
    font-size: 16px;
    margin: 0;
  }

  h2 {
    color: $action-color;
    font-size: 40px;
  }
}

.page-title {
  background: $page-title-background;
  padding: 1.5 * $base-spacing 0;
  text-align: center;

  h1 {
    color: $white;
    margin: 0;
    text-transform: uppercase;
  }
}

.page-content {
  padding: $page-padding;
}
