$footer-background: $dark-gray;

.site-footer {
  background: $footer-background;
  position: relative;

  &,
  & a {
    color: $medium-gray;
  }

  figure {
    float: left;
    margin-right: $base-spacing;
  }

  hr {
    border-color: lighten($footer-background, 15%);
    margin: 0 auto;
    max-width: $xlarge-screen;
  }
}



$back-top-bullet-size: 3.5em;

.back-top {
  position: absolute;
  left: 50%;
  margin-left: -($back-top-bullet-size / 2);
  top: -($back-top-bullet-size / 3);
  background: $footer-background;
  border-radius: 50%;
  float: left;
  height: $back-top-bullet-size;
  padding: $back-top-bullet-size / 6 $back-top-bullet-size / 4 $back-top-bullet-size / 4;
  width: $back-top-bullet-size;
}




.footer--primary {
  $footer-color: transparentize($white, 0.6);
  $footer-hr-width: 12em;
  $footer-hr-spacing: 2em;

  background: $footer-background;
  padding: $base-spacing * 3;
  width: 100%;
  text-align: center;

  hr {
    border: 1px solid transparentize($footer-color, 0.3);
    margin: $footer-hr-spacing auto;
    width: $footer-hr-width;
  }

  p {
    color: $footer-color;
    margin: 0;
    // font-size: 0.9em;
  }
}








.footer-2 {
  $action-color: #477DCA !default;
  $medium-screen: 40em !default;
  $footer-color: transparentize($white, 0.6);
  $footer-color--hover: transparentize($white, 0.25);

  background: $footer-background;
  display: inline-block;
  padding: $small-spacing $base-spacing;
  width: 100%;

  .footer-logo {
    margin-bottom: 1em;
    margin-right: 1em;
    text-align: center;

    @include grid-media($neat-grid) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
    text-align: center;

    @include grid-media($neat-grid) {
      float: left;
      line-height: 1.8em;
      margin-bottom: 0;
      margin-left: 1em;
    }
  }

  ul li {
    list-style: none;
    padding-right: 1em;

    @include grid-media($neat-grid) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $footer-color--hover;
    }
  }

  .footer-secondary-links {
    @include grid-media($neat-grid) {
      float: right;
    }

    li {
      // font-size: 0.9em;
    }
  }
}
