$footer-background: $dark-gray;
$footer-color: transparentize($white, 0.6);
$footer-color--hover: transparentize($white, 0.25);
$footer-hr-width: 12em;
$footer-hr-spacing: 2em;
$back-top-bullet-size: 3.5em;

.site-footer {
  background: $footer-background;
  position: relative;
  text-align: center;

  a {
    color: $footer-color;

    &:focus,
    &:hover {
      color: $footer-color--hover;
    }
  }

  p {
    color: $footer-color;
    margin: 0;
  }

  hr {
    border: 1px solid transparentize($footer-color, 0.3);
    margin: $footer-hr-spacing auto;
    width: $footer-hr-width;
  }

  &--primary {
    @include grid-container;
    padding: $base-spacing * 3 0.5em;
  }

  &--secondary {
    @include grid-container;
    padding: $small-spacing $base-spacing;
  }
}

.footer-links {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0;

  @include grid-media($neat-grid) {
    float: left;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-left: 1em;
  }

  li {
    list-style: none;
    padding-right: 1em;

    @include grid-media($neat-grid) {
      display: inline;
      text-align: left;
    }
  }

  &--secondary {
    @include grid-media($neat-grid) {
      float: right;
    }

    li {
      font-size: 0.9em;

      @include grid-media($neat-grid) {
        font-size: 1em;
      }
    }
  }
}

.balance {
  margin-bottom: 1em;
  margin-right: 1em;

  @include grid-media($neat-grid) {
    float: left;
    margin-bottom: 0;
  }
}

.back-top {
  position: absolute;
  left: 50%;
  margin-left: -($back-top-bullet-size / 2);
  top: -($back-top-bullet-size / 3);
  background: $footer-background;
  border-radius: 50%;
  float: left;
  height: $back-top-bullet-size;
  padding: $back-top-bullet-size / 6 $back-top-bullet-size / 4 $back-top-bullet-size / 4;
  width: $back-top-bullet-size;
}
