$header-logo-height: 50px;
$macro-navigation-line-height: $header-logo-height;
$micro-navigation-line-height: $macro-navigation-line-height / 2;
$macro-navigation-padding--small: $base-spacing $small-spacing $small-spacing;
$macro-navigation-padding--big: $base-spacing;
$micro-navigation-padding--small: $small-spacing;
$micro-navigation-padding--big: $small-spacing $base-spacing;

.site-header {
  position: relative;
  z-index: 10;
  @include card(1);

  a {
    display: inherit;
    font-weight: 400;
    color: $dark-gray;

    &:hover,
    &:focus,
    &.is-active {
      color: $action-color;
    }
  }

  li {
    display: inline-block;

    + li {
      margin-left: $base-spacing / 2;
    }
  }
}

.macro-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: $macro-navigation-line-height;
  padding: $macro-navigation-padding--small;

  @include grid-media($medium) {
    flex-direction: row;
    padding: $macro-navigation-padding--big;
    justify-content: space-between;
  }
}

.logo {
  margin-bottom: $small-spacing;

  @include grid-media($medium) {
    margin-bottom: 0;
  }
}

.micro-navigation {
  font-size: 14px;
  line-height: $micro-navigation-line-height;
  border-bottom: $base-border;
  display: flex;
  justify-content: space-between;
  padding: $micro-navigation-padding--small;

  @include grid-media($medium) {
    padding: $micro-navigation-padding--big;
  }
}

.bold-blue {
  color: $action-color;
  font-weight: 700;
}

.language-navigation {
  margin-left: $base-spacing / 3;
  text-transform: uppercase;
  display: inline;

  a {
    color: $medium-gray;
  }
}
