$bullets-margin-top: 2 * $base-spacing;
$bullet-flex-basis: 30em;
$icon-bullet-size: 3.5em;

.bullets {
  display: flex;
  flex-wrap: wrap;
  margin-top: $bullets-margin-top;
  text-align: center;

  @include grid-media($sixfourty) {
    text-align: left;
  }
}

.bullet {
  flex-basis: $bullet-flex-basis;
  flex-grow: 1;

  &-icon {
    display: inline-block;
    background: $secondary-color;
    border-radius: 50%;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    margin-top: $icon-bullet-size / 4;
    width: $icon-bullet-size;

    @include grid-media($sixfourty) {
      float: left;
      display: block;
    }

    // article view
    &.download {
      float: none !important;
      margin: $base-spacing auto $small-spacing;
    }
  }

  &-body {
    margin-bottom: 2em;

    @include grid-media($sixfourty) {
      margin-left: $icon-bullet-size;
      padding: 0 $base-spacing;
    }
  }

  &-title {
    font-size: 22px;
    font-weight: $heading-font-weight--light;
    margin: $small-spacing 0 $small-spacing / 3;
    font-variant: small-caps;
  }

  p:last-child {
    margin: 0;
  }

  svg {
    color: $white;
    max-width: 100%;
  }
}
