$icon-bullet-size: 3.5em;

.bullets {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  margin-bottom: 1em * $base-line-height;
  overflow: auto;
  padding: 0;
}

.bullet-date {
  padding: $small-spacing;
  background: $white;
  border-width: 1px 1px 1px 10px;
  border-style: solid;
  border-color: $medium-gray;
  margin-top: $base-spacing;
  transition: $base-duration $base-timing;

  &:hover {
    background: $medium-gray;

    h3 {
      color: $action-color;
    }
  }

  p {
    color: $base-font-color;
  }
}

.bullet {
  flex-basis: 30em;
  flex-grow: 1;

  &-icon {
    background: $secondary-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  $date-line-height: 1rem;
  $date-font-size: 2rem;
  $date-bullet-size: 2em;

  .date-icon {
    text-align: center;
    float: left;
    height: $date-bullet-size;
    padding: $date-bullet-size / 8;
    width: $date-bullet-size;
    font-size: $date-font-size;
    line-height: $date-line-height;
    color: $action-color;
    font-family: $heading-font-family;

    span {
      font-size: $date-line-height;
      font-weight: $heading-font-weight;
      color: $secondary-color;
      text-transform: uppercase;
    }

    h3 {
      color: $medium-gray;
    }
  }

  &-content {
    margin-bottom: 2em;
    margin-left: $icon-bullet-size;
    padding: 0 $base-spacing;
  }

  .date-content {
    margin-left: 2 * $date-bullet-size;
    padding: 0 $base-spacing;
  }

  h3 {
    // display: inline-block;
    font-size: $icon-bullet-size / 2.5;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight--light;
    margin: 0 0 ($icon-bullet-size / 20) 0;
    font-variant: small-caps;
  }

  p:last-child {
    margin: 0;
  }

  svg {
    color: $white;
    max-width: 100%;
  }
}
