$slider-controls-top: 20%;
$slider-controls-side: -20px;
$slider-controls-opacity: 0.3;
$slider-controls-opacity--hover: 1;

.carousel {
  position: relative;

  .bullet-icon {
    background: $medium-gray;
    opacity: $slider-controls-opacity;

    &:hover {
      opacity: $slider-controls-opacity--hover;
    }
  }
}

.slider-controls {
  width: 100%;
  position: absolute;
  top: $slider-controls-top;
  outline: 0;

  button {
    position: relative;
  }

  [data-controls="prev"] {
    float: left;
    left: $slider-controls-side;
  }

  [data-controls="next"] {
    float: right;
    right: $slider-controls-side;
  }
}

[data-action="start"],
[data-action="stop"] {
  display: none;
}
