$slider-controls-top: 10%;
$slider-controls-side: -0.5em;
$slider-z-index: $base-z-index + 5;

.carousel {
  position: relative;
  text-align: center;
  margin-bottom: 3 * $base-spacing;
}

.slide-image {
  display: inline-block;
}

.slide-title {
  color: $action-color;
  font-size: 22px;
  font-weight: $heading-font-weight--light;
  margin: $small-spacing 0 $small-spacing / 3;
  font-variant: small-caps;
}

.slider-controls {
  width: 100%;
  position: absolute;
  top: $slider-controls-top;
  outline: 0;
  z-index: $slider-z-index;

  button {
    position: relative;
    background: $medium-gray;

    &:hover {
      background: $action-color;
    }
  }

  [data-controls="prev"] {
    float: left;
    left: $slider-controls-side;
  }

  [data-controls="next"] {
    float: right;
    right: $slider-controls-side;
  }
}

[data-action="start"],
[data-action="stop"] {
  display: none;
}
