.engagement {
  padding: 2 * $base-spacing 0;
  background: $action-color;
  color: $white;
  font-size: 22px;

  &-title {
    font-size: 32px;
    color: $white;
    font-weight: 400;
    font-variant: small-caps;
    text-align: left;
    margin: 0 0 0.5em;
  }

  p {
    margin: $small-spacing / 1.5 0 0;
  }
}
