.hero {
  $hero-min-height: 40em;
  $hero-content-max-width: 48em;
  $hero-content-padding-bottom: 7 * $base-spacing;
  $hero-content-padding-left: 4 * $base-spacing;
  $hero-content-button-max-width: 280px;

  background: url('/assets/images/bg_hero.jpg');
  background-position: bottom;
  background-size: cover;
  min-height: $hero-min-height;
  position: relative;

  align-items: center;
  // background: image-url("background-image.png");
  // background-position: right;
  // background-size: none;
  display: flex;
  justify-content: center;
  // min-height: 25em;
  padding: 0 $gutter;

  @include grid-media($large) {
    // background-position: right;
    background-size: cover;
    justify-content: flex-start;
  }

  [data-namespace="unsere-leistungen"] & {
    background-image: url('/assets/images/bg1.jpg');
  }

  [data-namespace="ueber-uns"] & {
    background-image: url('/assets/images/bg4.jpg'); // https://unsplash.com/@shotbyjames
  }

  [data-namespace="forschung-und-lehre"] & {
    background-image: url('/assets/images/bg2.jpg');
  }

  [data-namespace="kontakt"] & {
    background-image: url('/assets/images/bg5.jpg'); // https://unsplash.com/@mvdheuvel
  }

  &-content {
    // bottom: 0;
    color: $white;
    // padding-bottom: $hero-content-padding-bottom;
    // padding-left: $hero-content-padding-left;
    // position: absolute;
    // max-width: 20em;
    text-align: center;

    @include grid-media($large) {
      @include grid-push(1);
      text-align: left;
      max-width: $hero-content-max-width;
    }

    .home & .button {
      min-width: $hero-content-button-max-width;
    }
  }

  &-bottom {
    background: transparent url('/assets/images/hero_bottom.svg') repeat-x center 30px;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.more-options {
  @include grid-container;
  margin-left: 0;
  margin-top: $small-spacing;

  .button {
    margin-top: $small-spacing;
    margin-right: $small-spacing;

    + .button {
      margin-top: $small-spacing;
    }
  }

  button + .transparent {
    padding: 0.639em 1.556em;
  }
}
