.hero {
  $hero-min-height: 40em;
  $hero-content-max-width: 48em;
  $hero-content-padding-bottom: 7 * $base-spacing;
  $hero-content-padding-left: 4 * $base-spacing;
  $hero-content-button-max-width: 280px;

  background-size: cover;
  background-position: bottom;
  min-height: $hero-min-height;
  position: relative;

  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 $gutter;

  @include grid-media($large) {
    justify-content: flex-start;
  }

  &-content {
    color: $white;
    text-align: center;

    @include grid-media($large) {
      @include grid-push(1);
      text-align: left;
      max-width: $hero-content-max-width;
    }

    .home & .button {
      min-width: $hero-content-button-max-width;
    }
  }

  .lead {
    font-weight: 400;
  }  

  &-bottom {
    background: transparent url('/assets/images/hero_bottom.svg') repeat-x center 30px;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.more-options {
  @include grid-container;
  margin-left: 0;
  margin-top: $small-spacing;

  .button {
    margin-top: $small-spacing;
    margin-right: $small-spacing;

    + .button {
      margin-top: $small-spacing;
    }
  }

  button + .transparent {
    padding: 0.639em 1.556em;
  }
}
