$overlay-opacity: 0.9;
$overlay-opacity--dark: 0.65;

.overlay {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  &::after {
    background: $light-gray;
    content: '';
    height: 100%;
    left: 0;
    opacity: $overlay-opacity;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &--dark {
    strong {
      color: $white;
    }

    &::after {
      background: $dark-gray;
      opacity: $overlay-opacity--dark;
    }
  }

  .section-header,
  .grid-container {
    position: relative;
    z-index: 5;
  }
}
