$nav-primary-height-fixed: 100px;

.doppelganger {
  // line-height: $nav-primary-height-fixed;
  // min-height: $nav-primary-height-fixed;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: all 400ms ease-in-out;
  z-index: 999;

  svg {
    max-height: $nav-primary-height-fixed;
  }

  a {
    color: $dark-gray;

    &:hover,
    &:focus,
    &.active {
      color: $action-color;
    }
  }

  &.is-sticky {
    transform: translateY(0%);
  }
}
