$section-padding: 6 * $base-spacing 0;

.section {
  &-header {
    @include grid-container;
    text-align: center;
    text-transform: uppercase;

    strong {
      color: $medium-gray;
      font-size: 16px;
      font-weight: $base-font-weight-bold + 200;
    }

    h2 {
      color: $action-color;
      font-size: 40px;
    }
  }
}
