.services {
  background: $white;
  padding: $section-padding;
  text-align: center;

  img {
    display: inline-block;
  }

  h3 {
    color: $action-color;
    font-weight: $heading-font-weight--light;
    margin: 1em 0 0.5em;
    font-variant: small-caps;
  }

  .lets-help {
    display: table;
    margin: 0 auto;

    strong {
      font-size: 1.125rem;
      display: inline-block;
      padding: 3 * $base-spacing 0 $base-spacing;
    }
  }
}
